/* Website/Company title */

.company-name {
  border-radius: 5px 5px 0 0;
}

.company-slogan {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

  background-color: #7598d9;
  padding: 5px 10px;
  text-align: center;
  border-radius: 0 0 5px 5px;
  margin: 0;
  line-height: 1;
}

/* Logos */

.logos-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 10px; */
}

.logos-container img {
  width: 350px;
  object-fit: contain;
  background-color: white;

  box-shadow: 0 0 5px 3px #9d9d9d;
}

.logos-container img:nth-child(1) {
  height: 350px;
  width: auto;
}

/* Team rules and team group photo */

.team-norms-and-team-group-photo-flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  /* height: 350px; */
  /* margin: 0 50px; */
}

.team-rules-container {
  border: 3px solid #a38282;
  border-radius: 5px;
  padding: 5px 10px;
  flex: 1;
  background: white;
  flex: 0 1 auto;

  box-shadow: 0 0 5px 3px #9d9d9d;
}

.team-rules-container h2 {
  margin-top: 0;
}

.team-rules-container ul {
  margin-bottom: 0;
  list-style: square;
}

/* .team-vigor-group-photo {
	height: 350px;
	object-fit: contain;
	border-radius: 5px;
	border: 3px solid #a38282;
	padding: 5px;
	background-color: white;

	box-shadow: 0 0 5px 3px #9d9d9d;
} */

/* .team-norms-and-team-group-photo-flex-container figure {
	flex: 1.5;
} */

/* Image */

/* .image-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
} */

.image-component {
  display: flex;
  width: 620px;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 3px solid #a38282;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  flex: 0 1 auto;

  box-shadow: 0 0 5px 3px #9d9d9d;
}

.image-component img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 5px;

  /* box-shadow: 0 0 5px 3px #9d9d9d; */
}

.image-caption {
  font-size: 15px; /* font-size: 20px; */
  text-align: center;
  margin: 0;
  padding: 0;

  /* background-color: white;
	border-radius: 20px;
	padding: 5px 10px;
	color: black; */
}

/* Gantt chart */

.gantt-chart-wrapper {
  display: flex;
  margin: 5px 10px;
  align-items: center;
  justify-content: center;
}

.gantt-chart {
  height: 550px;
  width: 100%;
  border-radius: 5px;

  box-shadow: 0 0 5px 3px #9d9d9d;
}

/* Presentation */

.video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-wrapper video {
  width: 450px;
  height: auto;
}

/* Contact information */

.contact-information-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;

  /* gap: 10px; */
}

.team-contact-information-wrapper,
.school-information-wrapper {
  border: 3px solid #a38282;
  border-radius: 5px;
  padding: 5px 10px;
  flex: 1;
  background: white;
  flex: 0 1 auto;
  width: 500px;

  box-shadow: 0 0 5px 3px #9d9d9d;
}

.team-contact-information-wrapper h3,
.school-information-wrapper h3 {
  margin-top: 0;
}

.team-contact-information-wrapper ul,
.school-information-wrapper ul {
  list-style: square;
  margin-bottom: 0;
}
