/* Sketch Ideas and Our Final Design*/

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	/* gap: 10px; */
}

.cell {
	flex: 0 1 auto;
}

.cell .image-component {
	box-shadow: 0 0 5px 3px #9d9d9d;
}

.image-component {
	display: flex;
	width: 600px;
	flex-direction: column;
	margin: 0;
	padding: 0;
	border: 3px solid #a38282;
	border-radius: 20px;
	padding: 5px 10px;
	background-color: white;
	align-items: center;
	justify-content: center;

	box-shadow: 0 0 5px 3px #9d9d9d;
}

.image-component img {
	width: 100%;
	height: auto;
	object-fit: contain;
	margin-bottom: 10px;
	border-radius: 20px;
}

.image-component img:hover {
	transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-component figurecaption {
	font-size: 15px; /* font-size: 20px; */
	text-align: center;
	margin: 0;
	padding: 0;
}

/* Decision Matrix */

.decision-matrix-wrapper {
	display: flex;
	margin: 5px 10px;
	align-items: center;
    justify-content: center;
}

.decision-matrix {
	height: 589px;
    width: 880px;
    border-radius: 5px;

	box-shadow: 0 0 5px 3px #9d9d9d;
}